.grn-btn{
  width: 300px;
  background-color: greenyellow;
  padding: 20px;
  font-size: 25px;
  margin: 5px;
}

body{
  background-color: #f8f4f9;
}

.list{
  float: left;
  margin-left: 80px;
  width: 500px;
}

.add{
  float: right;
  margin-right: 80px;
}